body {
    margin: 0px;
    padding: 0px;
}

.simpel-border {
    border: groove 3px white;
}
.simpel-style {
    padding: 10px;
    background-color: rgb(24, 108, 141);
}
.simpel-menu {
    margin-left: 300px;
    margin-top: 80px;
}
.simpel-menu a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease-in-out;
}
.simpel-menu ul li {
    display: inline;
}
.simple-br {
    background-color: silver;
    height: 3px;
    margin: 30px;
    border: 0px;
}

/* position */
.fixed {
    position: fixed !important;
}
.absolute {
    position: absolute !important;
}
.relative {
    position: relative !important;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-top {
    float: top;
}
.float-bottom {
    float: bottom;
}

.none {
    display: none !important;
}
.block {
    display: block !important;
}
.flex {
    display: flex !important;
}
.inline {
    display: inline !important;
}
.grid {
    display: grid !important;
}
.center {
    text-align: center !important;
    justify-content: center !important;
}

.radius-10 {
    border-radius: 10px;
}
.radius-20 {
    border-radius: 20px;
}
.radius-30 {
    border-radius: 30px;
}
.radius-40 {
    border-radius: 40px;
}
.radius-50 {
    border-radius: 50px;
}
.radius-60 {
    border-radius: 60px;
}
.radius-70 {
    border-radius: 70px;
}
.radius-80 {
    border-radius: 80px;
}
.radius-90 {
    border-radius: 90px;
}
.radius-100 {
    border-radius: 100px;
}

.margin-5 {
    margin: 5px !important;
}
.margin-6 {
    margin: 6px !important;
}
.margin-8 {
    margin: 8px !important;
}
.margin-10 {
    margin: 10px !important;
}
.margin-20 {
    margin: 20px !important;
}
.margin-40 {
    margin: 20px !important;
}
.margin-60 {
    margin: 20px !important;
}
.margin-80 {
    margin: 20px !important;
}
.margin-100 {
    margin: 20px !important;
}
.padding-5 {
    padding: 5px !important;
}
.padding-6 {
    padding: 6px !important;
}
.padding-8 {
    padding: 8px !important;
}
.padding-10 {
    padding: 10px !important;
}
.padding-20 {
    padding: 20px !important;
}
.padding-40 {
    padding: 20px !important;
}
.padding-60 {
    padding: 20px !important;
}
.padding-80 {
    padding: 20px !important;
}
.padding-100 {
    padding: 20px !important;
}
/* text decoration & transform &  */

/* fonts */
.system-font {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.arial-font {
    font-family: Arial, Helvetica, sans-serif !important;
}
.times-font {
    font-family: 'Times New Roman', Times, serif !important;
}
.verdana-font {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
.fantasy-font {
    font-family: fantasy !important;
}
.franklin-font {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
.courier-font {
    font-family: 'Courier New', Courier, monospace !important;
}
.sana-gill-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
.sana-lucida-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.segoe-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.trebuchet-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.cambria-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}
.georgia-font {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.impact-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
}
.cursive-font {
    font-family: cursive !important;
}
.monospace-font {
    font-family: monospace !important;
}
.sans-serif-font {
    font-family: sans-serif !important;
}
.serif-font {
    font-family: serif !important;
}

/* cursors */
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-alias {
    cursor: alias;
}
.cursor-all-scroll {
    cursor: all-scroll !important;
}
.cursor-cell {
    cursor: cell !important;
}
.cursor-col-resize {
    cursor: col-resize !important;
}
.cursor-copy {
    cursor: copy !important;
}
.cursor-crosshair {
    cursor: crosshair !important;
}
.cursor-e-resize {
    cursor: e-resize !important;
}
.cursor-ew-resize {
    cursor: ew-resize !important;
}
.cursor-grab {
    cursor: grab !important;
}
.hand-cursor {
    cursor: grab !important;
}
.cursor-grabbing {
    cursor: grabbing !important;
}
.cursor-help {
    cursor: help !important;
}
.cursor-move {
    cursor: move !important;
}
.cursor-n-resize {
    cursor: n-resize !important;
}
.cursor-ne-resize {
    cursor: ne-resize !important;
}
.cursor-nesw-resize {
    cursor: nesw-resize !important;
}
.cursor-no-drop {
    cursor: no-drop !important;
}
.cursor-none {
    cursor: none !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-ns-resize {
    cursor: ns-resize !important;
}
.cursor-nw-resize {
    cursor: nw-resize !important;
}
.cursor-nwse-resize {
    cursor: nwse-resize !important;
}
.cursor-progress {
    cursor: progress !important;
}
.cursor-row-resize {
    cursor: row-resize !important;
}
.cursor-s-resize {
    cursor: s-resize !important;
}
.cursor-se-resize {
    cursor: se-resize !important;
}
.cursor-sw-resize {
    cursor: sw-resize !important;
}
.cursor-text {
    cursor: text !important;
}
.cursor-vertical-text {
    cursor: vertical-text !important;
}
.cursor-w-resize {
    cursor: w-resize !important;
}
.cursor-wait {
    cursor: wait !important;
}
.cursor-zoom-in {
    cursor: zoom-in !important;
}
.cursor-zoom-out {
    cursor: zoom-out !important;
}
/* backgrounds colors */
.transparent, .background-remov, .heading {
    background-color: transparent;
}
.background-red {
    background-color: red !important;
}
.background-blue {
    background-color: blue !important;
}
.background-green {
    background-color: green !important;
}
.background-black {
    background-color: black !important;
}
.background-white {
    background-color: white !important;
}
.background-gray {
    background-color: gray !important;
}
.background-grey {
    background-color: grey !important;
}
.background-silver {
    background-color: silver !important;
}
.background-pink {
    background-color: pink !important;
}
.background-yellow {
    background-color: yellow !important;
}
.background-gold {
    background-color: gold !important;
}
.background-purple {
    background-color: purple !important;
}
.background-brown {
    background-color: brown !important;
}
.background-aqua {
    background-color: aqua !important;
}
.background-cadetblue {
    background-color: cadetblue !important;
}
.background-chocolate {
    background-color: chocolate !important;
}
.background-tomato {
    background-color: tomato !important;
}
.background-coral {
    background-color: coral !important;
}
.background-cornflowerblue {
    background-color: cornflowerblue !important;
}
.background-skyblue {
    background-color: skyblue !important;
}
.background-crimson {
    background-color: crimson !important;
}
.background-cyan {
    background-color: cyan !important;
}
.background-orange {
    background-color: orange !important;
}
.background-darkcyan {
    background-color: darkcyan !important;
}
/* colors */
.color-red {
    color: red !important;
}
.color-green {
    color: green !important;
}
.color-blue {
    color: blue !important;
}
.color-black {
    color: black !important;
}
.color-white {
    color: white !important;
}


/* fonts weight */
.weight-bold, .strong, .bold {
    font-weight: bold !important;
}
.weight-bolder {
    font-weight: bolder !important;
}
.weight-lighter {
    font-weight: lighter !important;
}
.weight-normal {
    font-weight: normal !important;
}
.weight-inherit {
    font-weight: inherit !important;
}
.weight-100 {
    font-weight: 100 !important;
}
.weight-200 {
    font-weight: 200 !important;
}
.weight-300 {
    font-weight: 300 !important;
}
.weight-400 {
    font-weight: 400 !important;
}
.weight-500 {
    font-weight: 500 !important;
}
.weight-600 {
    font-weight: 600 !important;
}
.weight-700 {
    font-weight: 700 !important;
}
.weight-800 {
    font-weight: 800 !important;
}
.weight-900 {
    font-weight: 900 !important;
}
/* widths & heights */
.fit-content {
    width: fit-content;
    height: fit-content;
}
.cube-10 {
    width: 10px !important;
    height: 10px !important;
}
.cube-20 {
    width: 20px !important;
    height: 20px !important;
}
.cube-30 {
    width: 30px !important;
    height: 30px !important;
}
.cube-40 {
    width: 40px !important;
    height: 40px !important;
}
.cube-50 {
    width: 50px !important;
    height: 50px !important;
}
.cube-60 {
    width: 60px !important;
    height: 60px !important;
}
.cube-70 {
    width: 70px !important;
    height: 70px !important;
}
.cube-80 {
    width: 80px !important;
    height: 80px !important;
}
.cube-90 {
    width: 90px !important;
    height: 90px !important;
}
.cube-100 {
    width: 100px !important;
    height: 100px !important;
}

/* sizes */
.size-5 {
    font-size: 5px !important;
}
.size-6 {
    font-size: 6px !important;
}
.size-7 {
    font-size: 7px !important;
}
.size-8 {
    font-size: 8px !important;
}
.size-10 {
    font-size: 10px !important;
}
.size-15 {
    font-size: 15px !important;
}
.size-16 {
    font-size: 16px !important;
}
.size-17 {
    font-size: 17px !important;
}
.size-18 {
    font-size: 18px !important;
}
.size-20 {
    font-size: 20px !important;
}
.size-25 {
    font-size: 25px !important;
}
.size-26 {
    font-size: 26px !important;
}
.size-27 {
    font-size: 27px !important;
}
.size-28 {
    font-size: 28px !important;
}
.size-30 {
    font-size: 30px !important;
}
.size-35 {
    font-size: 35px !important;
}
.size-36 {
    font-size: 36px !important;
}
.size-37 {
    font-size: 37px !important;
}
.size-38 {
    font-size: 38px !important;
}
.size-40 {
    font-size: 40px !important;
}
.size-45 {
    font-size: 45px !important;
}
.size-46 {
    font-size: 46px !important;
}
.size-47 {
    font-size: 47px !important;
}
.size-48 {
    font-size: 48px !important;
}
.size-50 {
    font-size: 50px !important;
}
.size-55 {
    font-size: 55px !important;
}
.size-56 {
    font-size: 56px !important;
}
.size-57 {
    font-size: 57px !important;
}
.size-58 {
    font-size: 58px !important;
}
.size-60 {
    font-size: 60px !important;
}
.size-65 {
    font-size: 65px !important;
}
.size-66 {
    font-size: 66px !important;
}
.size-67 {
    font-size: 67px !important;
}
.size-68 {
    font-size: 68px !important;
}
.size-70 {
    font-size: 70px !important;
}
.size-75 {
    font-size: 75px !important;
}
.size-76 {
    font-size: 76px !important;
}
.size-77 {
    font-size: 77px !important;
}
.size-78 {
    font-size: 78px !important;
}
.size-80 {
    font-size: 80px !important;
}
.size-85 {
    font-size: 85px !important;
}
.size-86 {
    font-size: 86px !important;
}
.size-87 {
    font-size: 87px !important;
}
.size-88 {
    font-size: 88px !important;
}
.size-90 {
    font-size: 90px !important;
}
.size-95 {
    font-size: 95px !important;
}
.size-96 {
    font-size: 96px !important;
}
.size-97 {
    font-size: 97px !important;
}
.size-98 {
    font-size: 98px !important;
}
.size-100 {
    font-size: 100px !important;
}
